{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block maintitle %}{% endblock %} | Mi Librito</title>
    <link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.min.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'books:libros' %}">Mis Libritos</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
                    {% if not request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'login' %}" style="color:white">Acceder</a>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">{{ user }}</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="{% url 'lends:prestamos' %}">Ver Prestamos</a>
                                <a class="dropdown-item" role="presentation" href="{% url 'logout' %}">Cerrar Sesion</a>
                                <!--<a class="dropdown-item" role="presentation" href="#">Second Item</a>
                                <a class="dropdown-item" role="presentation" href="#">Third Item</a>-->
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container-fluid admin-menu">
            <div class="row">
                <div class="col">
                    <h4 class="section-name">{% block section %}{% endblock %}</h4>
                </div>
                <div class="col">
                    <div class="btn-toolbar float-right">
                        <div class="btn-group float-right" role="group">
                            <a class="btn section-menu {% if request.path|slice:":8" == '/libros/' %}btn-primary{% else %}btn-light{% endif %}" role="button" href="{% url 'books:libros' %}">Libros</a>
                            <a class="btn section-menu {% if request.path|slice:":9" == '/autores/' %}btn-primary{% else %}btn-light{% endif %}" role="button" href="{% url 'books:autores' %}">Autores</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a class="btn section-menu {% if request.path|slice:":7" == '/temas/' %}btn-primary{% else %}btn-light{% endif %}" role="button" href="{% url 'books:temas' %}">Temas</a>
                        </div>
                    </div>
                </div>
                {% if request.user.is_staff %}
                    <div class="col">
                        <a class="btn btn-success btn-lg float-right section-menu" role="button"{% if request.path|slice:":9" == '/autores/' %} href="{% url 'books:crear-autor' %}"{% elif request.path|slice:":7" == '/temas/' %}href="{% url 'books:crear-tema' %}"{% elif request.path|slice:":8" == '/libros/' %} href="{% url 'books:crear-libro' %}"{% endif %}>
                            <i class="icon ion-android-add"></i>&nbsp;Nuevo
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/script.min.js' %}"></script>
</body>

</html>