{% extends 'core/layout.html' %}
{% block maintitle %}Prestamos{% endblock %}
{% block section %}Prestamos{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col offset-lg-0">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Libro</th>
                                <th>Autor</th>
                                <th>Tema</th>
                                <th>Prestamo</th>
                                <th>Devolucion</th>
                                <th>Estado</th>
                                {% if request.user.is_staff %}
                                    <th>Usuario</th>
                                    <th colspan="2">Operaciones</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for lend in lend_list %}
                                {% if request.user.is_staff %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ lend.token }}</td>
                                    <td>{{ lend.book }}</td>
                                    <td>{{  lend.book.author }}</td>
                                    <td>{{ lend.book.topic }}</td>
                                    <td>{{ lend.created|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ lend.return_date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ lend.state }}</td>
                                    <td>{{ lend.user }}</td>
                                    {% if request.user.is_staff %}
                                    <td><a class="btn btn-primary actions" role="button" href="{% url 'lends:actualizar-prestamo' lend.id %}">Editar</a></td>
                                    <td><a class="btn btn-danger actions" role="button" href="{% url 'lends:eliminar-prestamo' lend.id %}">Eliminar</a></td>
                                    {% else %}
                                    <td>{{ author.books }}</td>
                                    <td><a class="btn btn-primary actions" role="button" href="#">Ver</a></td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for lend in lend_list %}
                                {% if lend.user == user %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ lend.token }}</td>
                                    <td>{{ lend.book }}</td>
                                    <td>{{  lend.book.author }}</td>
                                    <td>{{ lend.book.topic }}</td>
                                    <td>{{ lend.created|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ lend.return_date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>{{ lend.state }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <section id="rows-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-lg-5 offset-lg-3">
                        <p class="text-right sumario">Mostrando 1 al 2 de 2</p>
                    </div>
                    <div class="col-lg-4 offset-lg-0"><button class="btn btn-primary float-right btn-anterior" type="button">Siguiente</button><button class="btn btn-primary float-right btn-siguiente" type="button">Anterior</button></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}