{% extends 'core/layout.html' %}
{% block maintitle %}Prestar Libro{% endblock %}
{% block section %}Prestar Libro{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clasificacion</th>
                                <th>Libro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Libro</td>
                                <td>{{ title.title }}</td>
                            </tr>
                            <tr>
                                <td>Autor</td>
                                <td>{{ title.author }}</td>
                            </tr>
                            <tr>
                                <td>Tema</td>
                                <td>{{ title.topic }}</td>
                            </tr>
                            <tr>
                                <td>Ubicacion</td>
                                <td>{{ title.location }}</td>
                            </tr>
                            <tr>
                                <td>Disponibilidad</td>
                                <td>{{ title.availability }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Prestamo</td>
                                <td>25/02/2018</td>
                            </tr>
                            <tr>
                                <td>Fecha de Devolucion</td>
                                <td>5/03/2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-group float-right" role="group"><button class="btn btn-danger btn-lg" type="button" id="btn_regresar">Regresar</button><a class="btn btn-success btn-lg" role="button" href="#">Prestar</a></div>
            </div>
        </div>
    </div>
{% endblock %}