{% extends 'core/layout.html' %}
{% block maintitle %}Autores{% endblock %}
{% block section %}Autores{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col offset-lg-0">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre(s)</th>
                                <th>Apellido(s)</th>
                                <th>Nacionalidad</th>
                                {% if request.user.is_staff %}
                                    <th colspan="2">Operaciones</th>
                                {% else %}
                                    <th>Libros</th>
                                    <th>Operaciones</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for author in author_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ author.name }}</td>
                                    <td>{{ author.surname }}</td>
                                    <td>{{ author.country }}</td>
                                    {% if request.user.is_staff %}
                                    <td><a class="btn btn-primary actions" role="button" href="{% url 'books:actualizar-autor' author.id %}">Editar</a></td>
                                    <td><a class="btn btn-danger actions" role="button" href="{% url 'books:eliminar-autor' author.id %}">Eliminar</a></td>
                                    {% else %}
                                    <td>{{ author.books }}</td>
                                    <td><a class="btn btn-primary actions" role="button" href="{% url 'books:autor' author.id %}">Ver</a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <section id="rows-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-lg-5 offset-lg-3">
                        <p class="text-right sumario">Mostrando 1 al 2 de 2</p>
                    </div>
                    <div class="col-lg-4 offset-lg-0"><button class="btn btn-primary float-right btn-anterior" type="button">Siguiente</button><button class="btn btn-primary float-right btn-siguiente" type="button">Anterior</button></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}