{% extends 'core/layout.html' %}
{% block maintitle %}Libros{% endblock %}
{% block section %}Libros{% endblock %}
{% block content %}
    <div class="container formularios">
        <div id="libros">
            <div class="row">
                <div class="col">
                    <h3>Historial</h3>
                </div>
                <div class="col">
                    <p class="float-left search-by">Buscar por:&nbsp;</p><select id="searcher_selector"><option value="1" selected="">Codigo</option><option value="2">Libro</option><option value="3">Autor</option><option value="4">Tema</option></select></div>
                <div class="col">
                    <form action="search" method="post"><input class="form-control float-left searcher" type="search"><button class="btn btn-primary" type="submit">Button</button></form>
                </div>
            </div>
            <div class="row">
                <div class="col offset-lg-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libro</th>
                                    <th>Autor</th>
                                    <th>Tema</th>
                                    <th>Ubicacion</th>
                                    <th>Disponible</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in author.get_authors.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.topic }}</td>
                                        <td>{{ book.location }}</td>
                                        <td>{{ book.availability }}</td>
                                        <td><a class="btn btn-primary actions" role="button" href="{% url 'books:prestar' book.id book.title|slugify %}">Ver</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}