{% extends 'core/layout.html' %}
{% block maintitle %}Prestar Libro{% endblock %}
{% block section %}Prestar Libro{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clasificacion</th>
                                <th>Libro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Libro</td>
                                <td>{{ title.title }}</td>
                            </tr>
                            <tr>
                                <td>Autor</td>
                                <td>{{ title.author }}</td>
                            </tr>
                            <tr>
                                <td>Tema</td>
                                <td>{{ title.topic }}</td>
                            </tr>
                            <tr>
                                <td>Ubicacion</td>
                                <td>{{ title.location }}</td>
                            </tr>
                            <tr>
                                <td>Disponibilidad</td>
                                <td>{{ title.availability }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Prestamo</td>
                                <td>25/02/2018</td>
                            </tr>
                            <tr>
                                <td>Fecha de Devolucion</td>
                                <td>5/03/2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form action="{% url 'lends:usuario-crear-prestamo'%}" method="post">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="user" value="user">
                    <input class="form-control" type="text" name="book" value="book">
                    <input class="form-control" type="text" name="state" value="1">
                    <input class="form-control" type="text" name="return_date" id="return_date">
                    <input class="form-control" type="text" name="token" id="txt_token">
                    <div class="btn-group float-right" role="group">
                        <button class="btn btn-danger btn-lg" type="button" id="btn_regresar">Regresar</button>
                        <button class="btn btn-success btn-lg" type="submit">Prestar</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% extends 'core/layout.html' %}
{% block maintitle %}Prestar Libro{% endblock %}
{% block section %}Prestar Libro{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clasificacion</th>
                                <th>Libro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Libro</td>
                                <td>{{ title.title }}</td>
                            </tr>
                            <tr>
                                <td>Autor</td>
                                <td>{{ title.author }}</td>
                            </tr>
                            <tr>
                                <td>Tema</td>
                                <td>{{ title.topic }}</td>
                            </tr>
                            <tr>
                                <td>Ubicacion</td>
                                <td>{{ title.location }}</td>
                            </tr>
                            <tr>
                                <td>Disponibilidad</td>
                                <td>{{ title.availability }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Prestamo</td>
                                <td>25/02/2018</td>
                            </tr>
                            <tr>
                                <td>Fecha de Devolucion</td>
                                <td>5/03/2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <form action="{% url 'lends:usuario-crear-prestamo'%}" method='POST'>
                    {% csrf_token %}
                    <div style="display: none">
                        <div style="display: none">
                            <input type="text", value="{{ user.pk }}" name="user">
                            <input type="text", value="{{ title.pk }}" name="book">
                            <input type="text", value="1" name="state">
                            <input type='date', value="" name="return_date">
                            <input type="text", value="", name="token" id="tk">
                        </div>
                    </div>
                    <div class="btn-group float-right" role="group">
                        <button class="btn btn-danger btn-lg" type="button" id="btn_regresar">Regresar</button>
                        <button class="btn btn-success btn-lg" type="submit">Prestar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}