{% extends 'core/layout.html' %}
{% block maintitle %}Libros{% endblock %}
{% block section %}Libros{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-9 mx-auto">
                    <div>
                        <form action="" method="post">{% csrf_token %}
                            <p>¿Estás seguro de que quieres borrar <b>"{{ object }}"</b>?</p>
                            <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar el tema"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}