{% extends 'core/layout.html' %}
{% block maintitle %}Libros{% endblock %}
{% block section %}Libros{% endblock %}
{% block content %}
    <div class="container formularios">
        <div id="libros">
            </div>
            <div class="row">
                <div class="col offset-lg-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Libro</th>
                                    <th>Autor</th>
                                    <th>Tema</th>
                                    <th>Ubicacion</th>
                                    <th>Disponible</th>
                                    {% if request.user.is_staff %}
                                        <th colspan="2">Operaciones</th>
                                    {% else %}
                                        <th>Operaciones</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in title_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.topic }}</td>
                                        <td>{{ book.location }}</td>
                                        <td>{{ book.availability }}</td>
                                        {% if request.user.is_staff %}
                                        <td><a class="btn btn-primary actions" role="button" href="{% url 'books:actualizar-libro' book.id %}">Editar</a></td>
                                        <td><a class="btn btn-danger actions" role="button" href="{% url 'books:eliminar-libro' book.id %}">Eliminar</a></td>
                                        {% else %}
                                        <td><a class="btn btn-primary actions" role="button" href="{% url 'books:prestar' book.id book.title|slugify %}">Ver</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <section id="rows-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-lg-5 offset-lg-3">
                        <p class="text-right sumario">Mostrando 1 al 2 de 2</p>
                    </div>
                    <div class="col-lg-4 offset-lg-0"><button class="btn btn-primary float-right btn-anterior" type="button">Siguiente</button><button class="btn btn-primary float-right btn-siguiente" type="button">Anterior</button></div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}