{% extends 'core/layout.html' %}
{% block maintitle %}Agregar Tema{% endblock %}
{% block section %}Temas{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col-4 col-lg-4 offset-lg-4 card">
                <form action="" method="post" class="card-body">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                        <input class="form-control input-info" type="text" name="fecha_ingreso" disabled="" id="txt_fecha_ingreso">
                    </div>
                    <div class="btn-toolbar float-right">
                        <div class="btn-group float-right" role="group">
                            <button class="btn btn-danger section-menu" type="button" id="btn_cancelar">Cancelar</button>
                            <button class="btn btn-success section-menu" type="submit" id="btn_tema_guardar">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}