{% extends 'core/layout.html' %}
{% block maintitle %}Iniciar Sesion{% endblock %}
{% block section %}Login{% endblock %}
{% block content %}
    <div class="container formularios">
        <div class="row">
            <div class="col-4 col-lg-4 offset-lg-4 card">
                <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Iniciar sesión</h3>
                    {% if form.non_field_errors %}
                        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                    {% endif %}
                    <p>
                        <input type="text" name="username" autofocus maxlength="254" required
                               id="id_username" class="form-control" placeholder="Nombre de usuario"/>
                    </p>
                    <p>
                        <input type="password" name="password" required
                               id="id_password" class="form-control" placeholder="Contraseña"/>
                    </p>
                    <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}